<head>
  <title>Jillianne's TaskList</title>
</head>

<h1>Welcome to my TaskList!</h1>

<nav>
  <% if @tasks.nil? %>
    No Tasks Available
  <% else %>
    <h3>Tasks are as follow:</h3>
    <table>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.completed_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table><br>
    <%#= image_tag "", alt: "Image of ... "%>
    <% end %>
</nav>

